* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  width: 100vw;
  position: fixed;
  background-color: #e9967a;
}

header {
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

nav {
  font-size: clamp(0.5em, 0.5em + 1.5vw, 1.5em);
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

h1 {
  height: 100px;
  padding: 50px 0 0 20px;
}

.cont {
  width: 95vw;
  height: 69vh;
  margin: auto;
}

.row {
  height: 60vh;
}

.form-label {
  width: 20%;
  font-size: clamp(0.8em, 3vw, 1.5em);
}

.col-md-9 {
  margin-left: 2%;
}

.col-md-9 > input {
  width: 76%;
  background-color: white;
  height: 65%;
}

.col-md-6 {
  margin-left: 2%;
}

.col-md-6 > input {
  width: 60%;
  background-color: white;
  margin-left: 10%;
  height: 65%;
}

.col-md-4 {
  margin-left: 2%;
}

.col-md-4 > input {
  width: 50%;
  background-color: white;
  height: 65%;
  margin-left: 26%;
}

.col-md-5 {
  margin-left: 2.5%;
}

.col-md-5 > input {
  width: 47%;
  background-color: white;
  height: 65%;
  margin-left: 20%;
}

.col-md-2 > input {
  width: 70%;
  height: 65%;
  font-size: clamp(0.5em, 2vw, 0.8em);
}

.col-md-6 {
  margin-left: 2%;
}

.col-md-7 > input {
  width: 52%;
  height: 65%;
  background-color: white;
  margin-left: 6.2%;
}

.col-md-3 > input {
  width: 69%;
  height: 65%;
  background-color: white;
}

footer {
  height: 8vh;
  color: white;
  background-color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.5em, 2vw, 0.8em);
}
